<!-- Container -->
<div class="container siteScale clearfix">
<div class="block whiteBG leftBox varMarginDouble border floatLeft">
	<div class="varPaddingDouble horPaddingDouble">

 <div class="registraton">    	
<h1>Choose a new password</h1>
<%= render 'form' %>
</div>
</div>
</div>
<div class="block whiteBG varPaddingDouble varMarginDouble rightBox floatRight horPaddingDouble border">
	    	
    </div>

</div>
