<div class="commentbox">
  	<%= comment.comment %><br />
</div>
<div class="commentfooter">
	<%= comment.user.username %> <%= comment.created_at %>  
	<%#= link_to 'delete', [@document,@comment], :confirm => 'Are You Sure?', :method => :delete %>
</div>