<div class="commentbox">
  	<%= comment.comment.html_safe %><br />
</div>
<div class="commentfooter">
	posted by <%= comment.user.username %> at <%= comment.date_and_time %>  
	<%#= link_to 'delete', [@document,@comment], :confirm => 'Are You Sure?', :method => :delete %>
</div>