<%= form_for([@document, @document.comments.new]) do |f|  %>
	<div class="field">
		<%= f.text_area :comment, :rows=>3, :class=>"span12"%>
	</div>
	<div class="actions">
		<%= f.submit 'Add'%>
	</div>
<%end%>
