<%= form_for([@document, @document.comments.new]) do |f|  %>
	<div class="field">
		<%= f.text_area :comment, :rows=>3, :class=>"span12"%>
	</div>
	<div class="actions">
		<%= f.submit 'Add'%>
		<small class="pull-right">By posting a comment, you agree to abide by our <a href="/terms" target="_BLANK">Terms &amp; Conditions</a></small>
	</div>
	<br />

<%end%>
