<div class="well">
  <div class="row-fluid">
    <h4>Terms & Conditions</h4>
    <br />
    <%= f.check_box :terms_accepted, {:required=>true } %> Please indicate that you have read and accept the <a href="/terms/" target="_TOP">Terms and Conditions</a><br /><br />
    <button type="submit" class="btn">Submit</button>
  </div>
</div>  