<div class="row-fluid">

	<div class="well">
		<span style="width=30px;">Choose a Password</span>
		<fieldset>
		  <%= f.password_field :password,{:required=>true, :class=>"input-medium", :placeholder=>"Password*"}%>
		  <%= f.password_field :password_confirmation,{:required=>true, :class=>"input-medium", :placeholder=>"Confirm Password*"}%>
		  <span class="help-inline">Passwords must be at least 6 characters long and contain at least one letter and one number</span>
		</fieldset>
	</div>

</div>