<% @location_countries = LocationCountry.find :all, :order=>"sort_order, name ASC" %>
<div class="introduction well">
  <span class="headline4 lead newfont">Update Your Details</span>
</div>

<div class="general_page">

  </div>
    <%= render 'form' %>
  <div style="clear:both; "></div>

</div>


