<div class="well">
  <div class="row-fluid">
    <h4>Update Your Details</h4>
  </div>  
</div>

<div>

  <%= form_for(@user)  do |f| %>
    <%= render 'user_details_form', :f => f %>
  <%end%>

  <div style="clear:both; "></div>

</div>


