 <% if obj.errors.any? %>
    <div class="error_explanation alert alert-error" >
      <h3>Please fix the following <%= pluralize(obj.errors.count, "error") %>.</h3>
      <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

