<% latest_items = 36 %>
<% #latest_documents = Document.show_latest_documents.joins(:document_photos).group("document_id").last(latest_items).shuffle %>
<% latest_documents = Document.show_latest_documents.has_photos.last(latest_items).shuffle %>

<div class="content well">
	<h3>Latest Items</h3>
	<ul class="thumbnails">
		<% latest_documents.each do |document| %>
			<% if document.name.blank? %>
				<% doctitle = document.title%>
			<% else %>  
				<% doctitle = document.name %>
			<% end %>
				<li class="span1">
				<% if document.default_image.present? %>
				  <%= link_to image_tag(document.default_image.photo.url(:small), :title => doctitle), document_path(document) ,:class=>"thumbnail" unless document.default_image.nil? %>
				<%end%>
				</li>
		<% end %>
	</ul>	
</div> <!-- latest items-->
