<% latest_items = 21 %>

<% latest_documents = Document.last(latest_items) %>
<div class="search_form latest">
	<!--<span class="search_heading">Latest Items</span><br />-->
	<ul id="imagegrid">
		<% latest_documents.each do |document| %>
			<div>
				<li><%= link_to image_tag(document.default_image.photo.url(:small)), document_path(document) unless document.default_image.nil? %></li>
			</div>
		<% end %>
	</ul>	
</div> <!-- latest items-->
