<span class="lead headline4 newfont">Search our Database</span>
<div id="search-form">
  <%= render "search_form_information"%>

  <%= render "search_form_person" %>

  <%= render "search_form_place" %>

  <%= render "search_form_publication" %>

  <%#= render "search_form_featured" %>

  <%#= render "search_form_latest" %>
</div>



