<div class="search_form information">
	<span class="search_heading">About The Past On Paper</span><br />
	<div class="info_text" style="padding:5px;">
		The Past on paper is a unique collection of original antique documents and photographs, catalogued and indexed for genealogists and local historians.
		Items listed include Family Bibles, Photographs, Wills, Letters, Diaries, Postcards, Indentures, Deeds, Newspapers and numerous other items, all indexed on the names and places mentioned within. 	
		We'd love to hear from you if you'd like to add your items to our database, either for sale or just to display to other researchers - listing is free.<br /><br />
		<em>Please note, the site is currently in a very early 'Alpha' stage, but we have hundreds of new features planned and you're welcome to look around.</em>
	</div>
</div> <!-- End search form information-->