<% featured_items = 3 %>

<div class="search_form featured">
	<span class="search_heading newfont">Featured Items</span><br />
	<% featured_documents = Document.find(:all, :conditions=> 'is_featured = 1').sort_by{ rand }.slice(0..(featured_items-1)) %>
	<ul>
		<% featured_documents.each do |document| %>
			<div class="featured_item">
				<%#= document.name %><br />
				<li><%= link_to image_tag(document.default_image.photo.url(:small)), document_path(document) unless document.default_image.nil? %></li>
			</div>
		<% end %>
	</ul>	
</div> <!-- featured items-->