<% @pagetitle = "Search by Date" %>
<div id="simple-search-box" class="span-24 last">
   <%= render :partial => "shared/search_box" %>
</div>

<div id="search-form" class="span-24 last">

    <div id="search-box" class="span-18 search-form">
 
        <div class="box-margins">        
            <span class="alt">Date Search</span>
            <div><h3>FORM HERE</h3>  
      </div>

        </div>

        <hr />
        <div class="box-margins">
            <span class="alt">Recent Searches</span>
        </div>

    </div>

    <div id="sidebar-right" class="span-6 sidebar-right last">
        <span class="alt">Right Sidebar</span>
    </div>   

</div>


 
