<% @pagetitle = "Home" %>
<!-- Container -->
<div class="container siteScale clearfix">
  <div class="block whiteBG varMarginDouble border ">
    <%= render :partial=>"search_form"%>
  </div>
</div>



