<!--<div class="introduction"></div>-->

<div class="content row-fluid">

  <div class="span3 pull-left">
	  <%= render "layouts/sidebar" %>
  </div><!-- End Sidebar -->
  
  <!-- Search Form -->
  <div class="span9 search_container pull-right">	
    <%= render "search_form" %>
  </div><!-- End Search Container -->

</div>
<div class="bottom_container row-fluid">
  <%= render "bottom_content" %>
</div>

