
<div class="container siteScale clearfix">
<div class="block whiteBG varMarginDouble border ">
	<div class="varPaddingDouble horPaddingDouble">
       <% if @documents.blank?%>
       <%= render :partial => "search_form"%>
       
       <%end%>
       <div id="document_results">
       
       <%= render :partial => "document_result"%>
       
       </div>
    
</div></div></div>
