<div class="introduction_block"><span class="profile_heading">About The Past on Paper</span></div>
<div class="general_page">
	<div class="general_page_text">
		The Past on Paper aims unlock the information contained within historic documents, photos and books hidden in private archives or in the hands of dealers. Registered users can upload their items for display or offer them for sale throughout the site.
    <br /><br />
    The site was developed by Christian Mayne, a part time antiques dealer and a long-time genealogist who felt the items in his stock list would have more value to researchers of family or local history, than as decorative pieces.  For several years Christian researched the Family Registers in Family Bibles and aimed to reunite them with the original families.  It didn't take long to realise that a tool that allowed people to find items relevant to their families in the world's antique shops could be a major aid to genealogists, and pastonp[aper.com was born.
    <br /><br />
	</div>
</div>
