<div class="well">
  <div class="row-fluid">
      <h4><%= @pagetitle %></h4>
  </div>
</div>

<div>
  <div>
    <div style="width:220px; margin:10px; float:left;">
      <img src="/assets/photos/bible.png" title="The Family Bible of William Kellham and Olive Nichols, 1777" class="img-polaroid">
    </div>

	  <div>
      <strong><a href="http://www.pastonpaper.com">The Past on Paper</a></strong> connects Genealogists and Historians with unique items from private collections and dealerships.
      <br /><br />
      <strong>As Genealogists,</strong> we all know the feeling of hoping that large dusty Bible in the antique shop would contain the family register related to our family.  Or that shoebox of Carte d'Visites might contain that unseen image of an elusive Great Great Grandfather.  You may have found the name scribbled on the back of a photo and wandered how you can get it back into the hands of the family.
      <br /><br />
      <strong>The Past on Paper</strong> has been developed by a Genealogist to solve these problems.  Now dealers and individuals alike can list their items free of charge to share, gift or sell to family members and researchers.  As well as reuniting families with long lost heirlooms, we aim to build a large database of unique data, sourced from documents undocumented elsewhere.  Before the advent of Civil Registration in 1837, there was no centralised source for the recording of Births Marriages or Deaths in the United Kingdom, and genealogists often supplement Baptism for Birth and Burial for Death.  Family Bibles stretching back to the 1600s can often provide the actual dates, unrecorded elsewhere.
      <br /><br />
      <strong>Development</strong> has been by <a href="http://www.christian-mayne.net" target="_TOP">Christian Mayne</a>, a part time antiques dealer and a long-time genealogist who began acquiring antique photographs in the mid 1990s, and felt the items in his stock list would have more value to researchers of family or local history, than as decorative pieces.  For several years Christian has researched the Family Registers in Family Bibles and reunited them with the grateful original families.  The success of this endeavour has lead to the development of www.pastonpaper.com, in the hope that others will be encouraged to list their items
      <br /><br /><br />
     </div>
    </div>
  <div>

  <div style="min-height:400px;">
    <div style="width:220px; margin:10px; float:right;">
      <img src="/assets/photos/cdv01.png" title="Mrs Gooch of Great Yarmouth, 1860" class="img-polaroid">
    </div>   

   	<div>
      <h4>Access and Pricing Guidelines</h4>
      The site has not been fully opened up as yet, but as a principle, this is how it will operate.
      <ul>
        <li>It is free to list and search items on Past on Paper.</li>
        <li>A user is required to register free of charge as a member to see the extended genealogical details within an item.</li>
        <li>Items sold through the website will attract a commission on the sale price.  This is currently expected to be around 20%.</li>
      </ul>
      <br /><br />
      <h4>Current Site Status</h4>
      <ul>
        <li><i>9th September 2012</i><br />The site is currently in an early alpha stage, but has been opened with limited functionality for preview.  Users wishing to list their items on the site during the alpha stage should drop us a message in the first instance.</li>
      </ul>
	  </div>
  </div>
  <em>Page last updated: 9th September 2012</em>
</div>
<hr>
<center><%= banner_ad %></center>
<hr>
