<!-- Container -->
<div class="introduction_block"><span class="profile_heading">Contact Us</span></div>
<div class="general_page">
	<div class="general_page_text">
		If you have any enquiries, comments or suggestions about <a href="http://www.pastonpaper.com/">The Past on Paper</a> please fill in the form below.  We will aim to get back to you within 24 hours, but usually much quicker. 
	</div>
	<div class="contact_form_block">
		CONTACT FORM HERE
	</div>
</div>
<div class="contact_block_text">
	pastonpaper.com is a WatchTheDot.com website<br />
	63 Toyse Lane, Burwell, Cambridgeshire, CB25 0DF. Tel: 01223 969424
</div>
