<!-- Container -->
<div class="container siteScale clearfix">
<div class="block whiteBG leftBox varMarginDouble border floatLeft">
	<div class="varPaddingDouble horPaddingDouble">
    	<h1>Contact Us</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur fermentum quam eget suscipit. Donec aliquam ligula sed urna aliquam ornare. Maecenas sit amet turpis tellus. Nunc ac sagittis lacus. Sed laoreet ante quis diam semper sed vulputate risus eleifend. Nulla mollis condimentum orci fringilla sodales. Etiam ac nunc elit, in imperdiet tellus. Integer purus quam, vehicula tincidunt volutpat quis, rhoncus ut lacus. Mauris quis mauris sed massa placerat imperdiet condimentum sit amet nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla porttitor, libero eu imperdiet ullamcorper, nisl orci congue neque, eget aliquet justo nunc id odio. Etiam mollis, neque et ultrices euismod, justo est luctus urna, nec scelerisque nulla metus sit amet augue. Praesent ac sagittis justo. Integer nibh lorem, ullamcorper imperdiet gravida at, vulputate tristique sem.</p>
	</div>
</div>

<div class="rightBox varPaddingDouble horPaddingDouble block border floatRight varMarginDouble">

</div>
</div>