<!-- Container -->
<div class="introduction well"><span class="headline4 lead newfont">Contact Us</span></div>

<div class="general_page" style="min-height:400px;" >

  <div style="width:220px; margin:10px; float:left;">
    <img src="/assets/photos/poster01.png" title="Property Sale Poster, Stewkley, Buckinghamshire, 1895">
  </div>

	<div class="general_page_text">
		If you have any enquiries, comments or suggestions about <a href="http://www.pastonpaper.com/">The Past on Paper</a> please fill in the form below.  We will aim to get back to you within 24 hours, but usually much quicker. 
	</div>
  <br /><br />

	<div class="contact_form_block">
		CONTACT FORM HERE
	</div>
  <br/><br />

  <div class="general_page_text">
    We can usually be contacted by phone Mon - Fri, 9am - 5pm (UK Time): +44 (0)1223 969426
  </div>
</div>

