<% @pagetitle = "Help" %>

<div>
  <div class="hero-unit">
    <div class="row fluid">
      <center><h3><span class="text-error">Sorry!</span> Our help pages aren't done yet,<br />but I'm getting around to it, promise.</h3></center>
    </div>
    <br />
    <div class="row-fluid">
      <span class="span6 offset3">
        <center><h4>In the meantime, if you'd like to help speed things up, and have a skill you could volunteer, please <a href="http://blog.pastonpaper.com/contact">contact us</a></h4></center>
        <br/><br />
      </span>
    </div>
  </div>

  <em>Page last updated: 26th September 2012</em>
  <hr>
  <center><%= banner_ad %></center>
  <hr>
</div>
