<% @pagetitle = "Terms & Conditions" %>

<div class="well">
  <div class="row-fluid">
      <h4><%= @pagetitle %></h4>
  </div>
</div>
<div class="general_page">
	<div class="general_page_text">
		<b>(1) Introduction</b><br />
		These terms and conditions govern your use of our website; by using our website, you accept these terms and conditions in full.
		If you disagree with any part of these terms and conditions, do not use our website.<br /><br />
	
		<b>(2) Intellectual property rights</b><br />
		Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website. 
		Subject to the licence below, all these intellectual property rights are reserved.<br /><br />
	
		<b>(3) Licence to use website</b><br />
		You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions below.<br /><br />
		You must not:<br />
		<ul>
			<li>(a) republish material from this website (including republication on another website);</li>
			<li>(b) sell, rent or otherwise sub-license material on the website;</li>
			<li>(c) reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose;</li>
			<li>(d) edit or otherwise modify any material on the website; or</li>
			<li>(e) redistribute material from this website.</li>
		</ul><br />
	
		<b>(4) Limitations of liability</b><br />
		The information on this website is provided free-of-charge, and you acknowledge that it would be unreasonable to hold us liable in respect of this website and the information on this website.
		Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up-to-date.
		To the maximum extent permitted by applicable law we exclude all representations, warranties and conditions (including, without limitation, the conditions implied by law of satisfactory quality, fitness for purpose and the use of reasonable care and skill).
		Our liability is limited and excluded to the maximum extent permitted under applicable law. We will not be liable for any direct or indirect loss or damage arising under these terms and conditions or in connection with our website, whether arising in tort, contract, or otherwise. Without limiting the generality of the foregoing exclusion, we will not be liable for any loss of profit, contracts, business, goodwill, data, income, revenue or anticipated savings arising under terms and conditions or in connection with our website, whether direct or indirect, and whether arising in tort, contract, or otherwise.
		However, nothing in these terms and conditions shall exclude or limit our liability for fraud, for death or personal injury caused by our negligence, or for any other liability which cannot be excluded or limited under applicable law.<br /><br />
	
		<b>(5) Restricted access</b><br />
		Access to certain areas of our website is restricted. We reserve the right to restrict access to other areas of our website, or indeed our whole website, at our discretion.
		If we provide you with a user ID and password to enable you to access restricted areas of our website or other content or services, you must ensure that that user ID and password is kept confidential.
		You accept responsibility for all activities that occur under your user ID or password.
		We may disable your user ID and password at our sole discretion.<br /><br />
	
		<b>(6) Variation</b><br />
		We may revise these terms and conditions from time-to-time. 
		Please check this page regularly to ensure you are familiar with the current version.<br /><br />
	
		<b>(7) Entire agreement</b><br />
		These terms and conditions, together with our privacy policy, constitute the entire agreement between you and us in relation to your use of our website, and supersede all previous agreements in respect of your use of this website.<br /><br />
	
		<b>(8) Law and jurisdiction</b><br />
		These terms and conditions will be governed by and construed in accordance with English law, and any disputes relating to these terms and conditions shall be subject to the exclusive jurisdiction of the courts of England.<br /><br />
	
		<b>(9) Posting Comments</b><br />
		Contributions to this website may be moderated, that is, checked to make sure they don’t break our rules. You will need to keep your contributions constructive, relevant and civil.  Our moderators will remove contributions that break the rules.<br /><br />

		No posting irrelevant links. This includes commercial spam, links to offensive material, and purely self-promotional links that don't apply to the item page.<br /><br />
		
	</div>
  <em>Page last updated: 18th December 2012</em>
  <small>These terms and conditions are based on a template created and distributed by www.website-law.co.uk</small>
</div>
<hr>
<center><%= banner_ad %></center>
<hr>
