<% @pagetitle = "Your Items" %>
<div class="introduction">
  <span class="lead">Your Gedcoms</span><div class="floatRight"></div></span>
</div>

<table class="table table-striped table-bordered table-condensed">
	<tr>
		<th>Name</th>
		<th>Action</th>
	</tr>
	<% @gedcoms.each do |gedcom| %>
    <tr>
      <td class="alignCenter"><%= File.basename(gedcom.file.path) %></td>
      <td class="alignCenter">
        <%= link_to image_tag("deleteicon.png"), gedcom_document_path(gedcom), :method => :delete, :confirm => "Are you sure you wish to delete the current Gedcom?" %>
      </td>
		</tr>
	<% end %>
</table>

