
<% @pagetitle = "Add New Gedcom" %>
<div class="introduction">
	<span class="lead">Add New Gedcom</span>
</div>
<div class="container siteScale clearfix">
	<div class="block whiteBG clearfix varMarginDouble border">
		<div class="varPaddingDouble horPaddingDouble clearfix">
			<div style="width:250px;float:left;">
			</div>
			<div style="margin-left: 260px;">
				<div class="userform">
<%= form_for(@gedcom, :html => { :multipart => true }) do |f| %>
  <div class="control-group">
    <%= label_tag :file, "File" %>
    <div class="controls">
      <%= f.file_field :file %>
    </div>
  </div>
  <div class="form-action">
    <%= f.submit(:value=>"Save",:class=>"btn btn-success submit save") %>
  </div>
<% end %>
				</div>
			</div>
		</div>
	</div>
</div>  
