
<% @pagetitle = "Add New Gedcom" %>
<div class="introduction_block">
	<span class="profile_heading">Add New Gedcom</span>
</div>
<div class="container siteScale clearfix">
	<div class="block whiteBG clearfix varMarginDouble border">
		<div class="varPaddingDouble horPaddingDouble clearfix">
			<div style="width:250px;float:left;">
			</div>
			<div style="margin-left: 260px;">
				<div class="userform">
<%= form_for(@gedcom, :html => { :multipart => true }) do |f| %>
  <div class="field">
  <%= f.file_field :file %>
  </div>

	<div class="field">
		<label>&nbsp;</label><%= f.submit "Save",:class=>"button"%>
	</div>
<% end %>
				</div>
			</div>
		</div>
	</div>
</div>  
