<div class="fields"> 
  <span class="input-form-label"><%= f.collection_select :attribute_type_id, @attribute_type, :id, :name, :prompt => true, :class => 'input-form-label' %></span>
  <span class="input-form-label">Value </span><%= f.text_field  :value,  :size =>50, :class => 'input-form-input' %>
  <span class="input-form-label">Date </span>
        <%= f.text_field :on_date, :size => 10, :class => 'input-form-input' %>
  <span class="input-form-label"><%= link_to_remove_fields image_tag("deleteicon.png"), f %></span><br />
<br />
</div>
