<div class="fields"> 
  <span class="input-form-label">Photo File <%= f.file_field :photo,  :class => 'input-form-input' %>
  <span class="input-form-label"><%= link_to_remove_fields image_tag("deleteicon.png"), f %>
</div>


