<div class="introduction row-fluid">
	<div class="headline4 lead pull-left newfont">Your Items</div><div class="pull-right"><%= page_entries_info @documents,:entry_name => 'item' %></div>
</div>
<%= render "documents/document_common_list"%>
 <%= will_paginate @documents ,:renderer => BootstrapLinkRenderer %>
