<% @pagetitle = "Edit " + page_title %>
<% sub_title = "Item Details" %>


<div class="well">
  <div class="row-fluid">
      <h4><%= @pagetitle %></h4>
      <h6><%= sub_title %></h6>
  </div>
</div>

<%= render :partial => 'form' %>
