<%= render @document %>


<% if current_user %>
	<div>
	  <hr>
	  <h5>Add a comment</h5>  
	  <%= render :file => 'comments/new' %> 
	</div>
<%end%>
<hr />
<div class="rowfluid">
	<div class="well">
  		<center><%= banner_ad %></center>
	</div>
</div>

