<% @pagetitle = "Add New War Memorial" %>
<% type = 'warmemorial' %>

<div class="well">
  <div class="row-fluid">
      <h4><%= @pagetitle %></h4>
  </div>
</div>

<%= render :partial =>'warmemorial_form' %>