<% @pagetitle = "404 - Page Not Found" %>

<div class="row-fluid">
  <div>

    <div class="span4">
      <img src="/assets/photos/error-skeleton.png" title="The Error Skeleton" class="img-polaroid">
    </div>

	  <div class="span8">

	  	<div class="row-fluid">
		  	<h1 class="text-error">Sorry!  That Page Does Not Exist</h1>
		  	<h2 class="text-error">(404 Error)</h2>
		  	<p>We're not sure why, but you seem to been looking for a page that doesn't exist.  Maybe you came from an old link somewhere out on the internet, or typed in the address incorrectly.</p>
		  	<p>Have a look through some of the many other items on the site below, or return <a href="/">Home</a> and have a look through the other pages we have on the site. There are hundreds to choose from.</p>
		  </div>	

	  	<div class="row-fluid">
		    <ul class="thumbnails">
			    <% random_items(15).each do |document| %>
				    <% if document.name.blank? %>
					    <% doctitle = document.title%>
				    <% else %>  
					    <% doctitle = document.name %>
				    <% end %>
				    <li>
					    <% if document.default_image.present? %>
					      <%= link_to image_tag(document.default_image.photo.url(:small), :title => doctitle, :class=>"img-rounded"), document_path(document) unless document.default_image.nil? %>
					    <%end%>
				    </li>
			    <% end %>
			  </ul>	
			</div>
		</div>

	</div>
</div>

<hr>
<div>
	<center><%= banner_ad %></center>
</div>
<hr>

