<!-- Container -->
<div>
<div>
	<div>
<h1>New status</h1>

<%= render 'form' %>

<%= link_to 'Back', admin_statuses_path %>




    </div>
</div>

	<div>
		    	
	</div>


</div>
<!-- Container End -->


