<div class="form-horizontal">
<h3>Upload Image</h3>
<hr />
<%= form_for(@document_photo, :url=>:document_document_photos,:multipart => :true) do |f| %>
  <%= render :partial => "shared/validationerror" ,:locals =>{:obj => @document_photo}%>
 <div class="control-group"> 
  	<label class="control-label">Upload Image </label>
  	<div class="controls">
  	<%= f.file_field :photo %>
  </div>
  </div>
<div class="control-group"> 
  		<label class="control-label">&nbsp;</label>
  			<div class="controls">
    <%= f.submit "Upload" ,:class=>"btn"%>
  </div>
  </div>
  
<% end %>
</div>
