<div class="form-horizontal">
  <%= form_for(@document_photo, :url=>:document_document_photos,:multipart => :true) do |f| %>
    <%= render :partial => "shared/validationerror" ,:locals =>{:obj => @document_photo}%>

    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span2">Upload New Image</div>
      <div class="span5"><%= f.file_field :photo %></div>
      <div class="span2"><%= f.submit "Upload" ,:class=>"btn"%></div>
    </div>

  <% end %>
</div>