body,
html  { 
  margin: 0;
  padding: 0;
  background:url(./images/paper-background.png repeat 0 0); 
}

input, textarea { border:1px solid #CCC; padding:3px; }
input#submitLogin[type=submit]{ border:none; width:50px; height:24px; }
input#submitLogin[type=submit]:active{ background-position:0 -24px; }
 
input.search[type=submit]{ background:url(button.png) no-repeat 0 -48px; border:none; width:60px; height:24px; }
input.search[type=submit]:active{ background-position:0 -72px; }

#registerUser[type=button]{ background:url(button.png) no-repeat -50px 0; border:none; width:70px; height:24px; }
#registerUser[type=button]:active{ background-position:-50px -24px; }

input.submit[type=submit], input.submit[type=button]{ background:url(button.png) no-repeat -60px -48px; border:none; width:70px; height:24px; }
input.submit[type=submit]:active, input.submit[type=button]:active{ background-position:-60px -72px; }


/* Christian's Styling */

/* General layout */

.pop_container {
  width:1000px;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
}

.header,
.footer {
	clear: both;
	width: 1000px;
}

.search_container {
	width: 780px;
	float:right;
	height: 650px;
  	margin-left:10px;
  	margin-right:10px;
}

.search_container {
	position: relative;
}



.sidebar {
  width: 200px;
  float: left;
  min-height: 500px;
}

.sidebar_info,
.sidebar_header,
.sidebar_info {
	width: 200px;
}


.sidebar_info {
  clear:both;
}

.search_header,
.sidebar_header {
  display: block;
  height: 26px;
}

.sidebar_item {
  clear:both;
}


/* fonts */
.header_login_form,
.header_user_greeting {
  	font-size: 12px;
}

.search_header {
  font-family: georgia;
  font-size: 22px;
  font-style: italic;
  font-weight: 900;
}

.search_heading {
  font-family: georgia;
  font-size: 18px;
  font-style: italic;
  font-weight: 800;
}

.search_text,
.search_form {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

.search_input_name, 
.search_input_place
{
  font-family: Verdana, Arial, sans-serif;
  font-size: 18px;
  letter-spacing: normal;
}

.search_input_date
{
  font-family: Verdana, Arial, sans-serif;
  font-size: 18px;
  text-align: -webkit-auto;
}

.search_results_container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.sidebar_info {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

.sidebar_header {
  font-family: georgia;
  font-size: 22px;
  font-style: italic;
  font-weight: 900;
}


.sidebar_item {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}


/* Header Layout */

.header {
	/*background-color:pink;*/
}

.header_logo {
 	display: inline-block;
 	position:absolute;
 	width: 200px;
  	/*background-color: red;*/
}

.header,
.header_logo,
.header_content {
	height: 150px
}

.header_content,
.header_upper,
.main_menu_bar {
	width: 800px;
	float:right;
}

.header_content {
	display: inline-block;
	/*background-color: orange;*/
}

.header_upper {
	display: inline-block;
	height:100px;  	
	/*background-color:yellow;*/
}

.main_menu_bar {
  	height: 50px;
  	/*background-color: green;*/
}

.header_login_box {
	float: right;
	width: 400px;
	height: 100px;
	/*background-color: lightblue;*/
}

.header_login_form, 
.header_social_links,
.header_user_greeting,
.header_user_status,
.header_status_message {
	width: 400px;
}

.header_login_form,
.header_user_greeting {
	height: 40px;
  	/*background-color: pink;*/	
}

.header_user_greeting {
	float: right;
}


.header_social_links,
.header_user_status,
.header_status_message {
	height: 30px;
}


.header_social_links,
.header_user_status {
  	float:right;
  	/*background-color: red;*/
}

.header_status_message {
	float:right;
	/*background-color:orange;*/
}


/* Header Main Menu */

#nav ul {
}

#nav {
    margin: 0; 
    padding: 0;
    float:right;
}   

#nav li {
    display: inline;
    line-height:50px;
    background-color: #AAA; 
}

#nav li a {
    float: left; text-decoration: none;
    color: white;
    width:100px;
    padding-left: 10px;
	border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: #AAA; 
    -moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px; 
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

#nav li:first-child a {
}

#nav li:last-child a { 
}

#nav li a:hover, 
#nav li .current
{
    color: #fff;
    background-color:#0b75b2;
}



/* Search Container */

.search_header {
  background-color: transparent;
  color: #3D5055;
  font-weight: 900;
  padding-bottom: 6px;
  margin: auto;
}

.search_heading {
  background-color: transparent;
  color: #3D5055;
  display: block;
  height: 26px;
  padding-bottom: 12px;
}

.search_text {
  color: #3D5055;
  display: block;
  height: 28px;
  margin-bottom: 12px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 12px;
  max-width: none;
  min-width: 0px;
  position: absolute;
  right: 0px;
  top: 9px;
  width: 447px;
}

.info_text {
  color: #3D5055;
  display: block;
  height: 28px;
  margin-bottom: 12px;
  margin-top: 36px;
  position: absolute;
  top: 9px;
}

.search_form {
	height: 150px;
  border-radius: 5px;
  border-top-width: 0px;
  color: #3D5055;
  display: block;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
}

.search_form.person {
  background-color: #D5DEEF;
}

.search_form.place {
  background-color: #D0EDEA;
}

.search_form.information {
	background-color: #EAF8E1;
}


.search_input_name, 
.search_input_place
{
  -webkit-appearance: searchfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  background-color: white;
  border: 1px solid #CCC;
  box-sizing: border-box;
  color: black;
  cursor: auto;
  display: block;
  float: left;
  height: 34px;
  line-height: normal;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: -webkit-auto;
  width: 250px;
}



.search_input_date
{
  -webkit-appearance: searchfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  background-color: white;
  border: 1px solid #CCC;
  box-sizing: border-box;
  color: black;
  cursor: auto;
  display: block;
  float: left;
  height: 34px;
  line-height: normal;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: -webkit-auto;
  width: 100px;
}

.search_results_container {
  background-image: none;
  background-repeat: repeat;
  color: #585858;
  display: block;
  padding: 20px;
  width: 960px;
}



/* Sidebar */

.sidebar_info {
  color: #3D5055;
}

.sidebar_header {
  background-color: transparent;
  color: #3D5055;
  font-weight: 900;
  padding-bottom: 6px;
  margin: auto;
}


.sidebar_item {
  margin:auto;
  margin-bottom: 10px;
  background-color: #F3EFE7;
  border-radius: 5px;
  color: #3D5055;
  height: 165px;
  max-width: none;
  min-width: 0px;
  padding-left: 15px;
  padding-top: 15px;
}


/* Footer */
.footer {
	clear: both;
	height: 100px;
	margin-top: 10px;
	border-top: 1px dashed black;
}

.footer_links,
.footer_social, 
.footer_credits {
	clear: both;
	height: 20px;
	/*border: 1px solid black;*/
}

.footer_credits,
.footer_credits a{
	text-align: center;
	color: #585858;
} 

.footer_social {
	margin:auto;
	width: 230px;
	padding-top: 10px;
}

.header_social_icon,
.footer_social_icon{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	
}

.footer_credits {
	padding-top: 10px;
}


#footer_nav ul {
}

#footer_nav {
	width: 350px;
    margin: auto; 
    /*border: 1px solid black;*/
}   

#footer_nav li {
    display: inline;
}

#footer_nav li a {
 	text-align: center;
}

#footer_nav li:first-child a {
}

#footer_nav li:last-child a { 
}

#footer_nav li a:hover, 
#footer_nav li .current{
}



/* Document Pages */
















/* END Christian's styling */







.content_container {
  #border: 1px solid black;
}

/* Introduction Block */
.introduction_block {
  background-color: #F3EFE7;
  border-radius: 5px;
  border-top-width: 0px;
  color: #3D5055;
  display: block;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
}







/* Controls */

.button {
-webkit-appearance: none;
-webkit-box-align: center;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: -webkit-linear-gradient(top, #077 0%, #099 50%, #0BB 100%);
background-origin: padding-box;
border-bottom-color: white;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-bottom-style: none;
border-bottom-width: 0px;
border-left-color: white;
border-left-style: none;
border-left-width: 0px;
border-right-color: white;
border-right-style: none;
border-right-width: 0px;
border-top-color: white;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: white;
cursor: default;
display: inline-block;
font-family: Verdana, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
height: 26px;
letter-spacing: normal;
line-height: normal;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
max-width: none;
min-width: 0px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 6px;
padding-left: 10px;
padding-right: 10px;
padding-top: 6px;
text-align: center;
text-indent: 0px;
text-shadow: none;
text-transform: none;
white-space: pre;
width: 51px;
word-spacing: 0px;
}



/* Status Messages */

.status_message {
  background-attachment: scroll;
  background-clip: border-box;
  background-repeat: repeat;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 14px;
  text-align: center;
  width: 257px;
  float: right;
}


.status_message.error{
  background-color: #FBE3E4;
  border-color: #FBC2C4;
  color: #8A1F11;
}

.status_message.alert{
  background-color: #FFF6BF;
  border-color: #FFD324;
  color: #514721;
}

.status_message.success{
  background-color: green;
  border-color: green;
  color: #514721;
}


/* Utility */
.clear_right {
	clear: right;
}

.clear_left {
	clear: left;
}

.float_right {
	float:right;
}

.float_left{
	float:left;
}

