<div class="siteScale clearfix">
<div class="block whiteBG varMarginDouble leftBox floatLeft border">
	<div class="varPaddingDouble horPaddingDouble registraton">

<%= link_to 'New Admin', new_admin_user_path %>

<h1><%=link_to "Users",admin_users_url%> : Create New User</h1>
<%= render 'form' %>

</div>
</div>

	<div class="block whiteBG varPaddingDouble varMarginDouble rightBox floatRight horPaddingDouble border">
		    	
	</div>


</div>
