<div class="row span11">
	<hr />
	Browse all: 
	<%= link_to "War Memorials", warmemorials_path %>&nbsp&nbsp|&nbsp&nbsp
	<%= link_to "War Memorials Roll of Honour", rollofhonour_path %>
	<hr />
</div>
