<!-- Footer -->
<div class="span-24">
  <%= link_to "About", about_path, :class=>"red" %> | 
  <%= link_to "Terms and Conditions", terms_path, :class=>"red" %> | 
  <%= link_to "Privacy Policy", privacy_path, :class=>"red" %> |
  <%= link_to "Contact", contact_path, :class=>"red" %>    
</div>
<div class="span23">
  site credits
</div>
