<% latest_documents = Document.last(3) %>
<span class="sidebar_header">latest Items</span>
<% latest_documents.reverse.each do |document| %>
  <div class="sidebar_item">
    <%= document.name %><br />
    <%= link_to image_tag(document.default_image.photo.url(:small)), document_path(document) unless document.default_image.nil? %>
  </div>
<% end %>
